<!-- Error Message -->
<label class="error-message">{{ submitMessage }}</label>
<div class="login-container">
    <mat-card>
        <!-- <div class="login-wrapper"> -->
        <div>
            <mat-label>Username : </mat-label>
            <mat-form-field>
                <input matInput class="username" name="username" placeholder="Enter your User Name"
                    [formControl]="username" required>
            </mat-form-field>
        </div>
        <div>
            <mat-label>Password : </mat-label>
            <mat-form-field>
                <input matInput class="password" name="password" placeholder="Enter your password" type="password"
                    [formControl]="password" required>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)='loginSubmit()'>Submit</button>
        </div>
    </mat-card>
</div>